.modal {
  display: none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  .fancybox-button {
    display: none;
  }
}

.modal__container {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 60px;
}

.modal__content {
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.form__input {
  &.input-error {
    border-color: red;
  }
}